*{
	padding: 0;
	margin: 0;
	font-family: 'Cardo', serif;
}

.backImg{
	width: 100%
	height: 100vh;
	background-image: url('imgblue.png');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}
.profile{
	width: 360px;
	height: 500px;
	background-color: rgb(0,0,0,0.3);
	padding: 70px 0;
	border-radius: 10%;
}

.profileText{
	margin-bottom: 10px;
}
.profileText h2{
font: 1.4em;
font-weight: 500;
margin-bottom: 10px;
}

.button{
	padding: 10px 24px;
	size: 20px;
	
}
i{
	color: white;
}